@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

:root {
    --main-bg-color: #303030;
    --sub1-bg-color: #363636;
    --sub2-bg-color: #404040;
    --main-text-color: #FFFFFF;
    --sub-text-color: #C6C6C6;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: var(--main-bg-color);
    font-family: Roboto;
    color: var(--main-text-color);
    margin: 0;
}

p {
    margin: 0;
}

.nav {
    width: 100%;
    height: 50px;
    background-color: var(--sub1-bg-color);
    box-shadow: 0px 2px 4px #000000;
}

.box-container {
    width: 95%;
    background-color: var(--sub2-bg-color);
    box-shadow: 0px 2px 2px #000000;
    border-radius: 8px;
    margin: 2.5% auto;
    overflow: hidden;
}

.title {
    margin: 0;
    font-size: 22pt;
    font-weight: 300;
}

.title--nav {
    line-height: 50px;
    text-align: center;
}

p.content {
    color: var(--sub-text-color);
    font-weight: 300;
    font-size: 12pt;
}

.box-bottom {
    background-color: var(--sub1-bg-color);
    overflow: hidden;
    padding: 5px;
}

.box-top {
    background-color: var(--sub1-bg-color);
    overflow: hidden;
    padding: 5px;
	font-size: 20pt;
}

.setting-button {
	display: inline-block;
}

.close-button {
	float: right;
	padding-top:5px;
	padding-right: 8px;
}

.close-button-img {
	border: 1.5px solid #FFFFFF;
	border-radius: 5px;
	padding: 2.5px;
}

/** TASK LIST **/
.box-container--task {
    min-height: 0px;
}

.box-bottom > .content--number-of-people {
    float: left;
    background-color: var(--sub2-bg-color);
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.box-bottom > .content--due-date {
    float: right;
    padding: 5px;
}

.title--task {
    margin: 10px;
}

.content--task {
    margin: 10px 10px 10px 11px;
}




/** Preference **/
.box-container--preference {
	padding: 10px;
	height: 30px;
}

.theme-option--preference {
	width: 50%;
	float: left;
	text-align: center;
}
.content--preference{
	font-size: 15pt;
	font-weight: 250;
}

.checkbox--preference {
	width: 10px;
	height: 10px;
	background-color: #FFFFFF;
	border: 1px solid #00000;
	display: inline-block;
	margin-right: 5px;
}

.edit-icon--preference {
	padding-top: 5px;
	float: right;
	vertical-align: middle;
}

.group-box-content--preference {
	height: 150px;
	overflow: scroll;
}

.group--preference {
	border-bottom: 2px solid var(--sub1-bg-color);
	width: 98%;
	margin: 0 auto;
	padding-top: 8px;
	padding-bottom: 8px;
}

.group-option--preference {
	float: right;
	padding-top: 4px;
}
.exit_gorup--preference {
	text-decoration: underline;
}

.info--preference {
	float: right;
	padding-right: 2px;
	padding-left: 2px;
}

.preference--button {
	width: 90px;
	height: 35px;
	float: right;
	text-align: center;
	line-height: 35px;
	margin-right: 10px;
}



	
