:root {
    --main-bg-color: #303030;
    --sub1-bg-color: #363636;
    --sub2-bg-color: #404040;
    --main-text-color: #FFFFFF;
    --sub-text-color: #C6C6C6;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: var(--main-bg-color);
    font-family: 'Roboto';
    color: var(--main-text-color);
}